.mbshop_activeCms {
  width: 1200px;
  float: none;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 10px;
  clear: left
}
.mbshop_activeCms table {
	height:11953;
  border-collapse: collapse;
  width: 100%;
}
table th:first-child,
table td:first-child {
  text-align: left;
}
.ke-zeroborder td{border:none}
.mbshop_activeCms table tbody tr td img {
	width:1200px;
}
.zm_right_upstairs_box {
	display: none;
	width: 100px;
	left: 0px;
	height: 390px;
	position: fixed;
	top: 50%;
	margin-top: -195px;
	z-index: 1000;
	float: none;
	overflow: hidden;
	cursor: pointer;
}
map {
	display: inline;
}












