
body{
	background:url(img/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%,100%;
}

    .ct{
      height: 600px;
      position: relative;

      /*perspective 属性定义 3D 元素距视图的距离，以像素计。该属性允许您改变 3D 元素查看 3D 元素的视图。
      当为元素定义 perspective 属性时，其子元素会获得透视效果，而不是元素本身。*/
      perspective: 2000px;
    }

    .cube{    	
      position: absolute;
      width: 511px;
      height: 236px;
      left: 50%;
      top: 50%;
      margin: -118px 0 0 -255.5px;
      transform-style: preserve-3d;
      animation: rotate 10s infinite;
    }
    .box{
      position: absolute;
      width: 511px;
      height: 236px;
    }
    .top{
      transform: rotateY(0deg) translateZ(500px);
    }
    .bottom{
      transform: rotateY(60deg) translateZ(500px);
    }
    .left{
      transform: rotateY(120deg) translateZ(500px);
    }
    .right{
      transform: rotateY(180deg) translateZ(500px);
    }
    .front{
      transform: rotateY(240deg) translateZ(500px);
    }
    .behind{
      transform: rotateY(300deg) translateZ(500px);
    }
    @keyframes rotate {
      0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
      }
      16.7% {
        -webkit-transform: rotateY(60deg);
        transform: rotateY(60deg);
      }
      33.3% {
        -webkit-transform: rotateY(120deg);
        transform: rotateY(120deg);
      }
      50% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }
      66.7% {
        -webkit-transform: rotateY(240deg);
        transform: rotateY(240deg);
      }
      83.3% {
        -webkit-transform: rotateY(300deg);
        transform: rotateY(300deg);
      }
      100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
      }
    }